name: Pipeline to trigger Frontend Service

on:
  push:
    branches: [ "staging" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install sshpass
        run: sudo apt-get update -y && sudo apt-get install sshpass -y

      - name: SSH into dev env
        run: sshpass -p '3S?Cz@$X3S?Cz@$X' ssh -o StrictHostKeyChecking=no root@69.169.109.54 "cd /root/tax-frontend && bash build.sh"
